<div class="row" style="padding: 10px;">
    <div class="col-lg-4" style="border-right: solid 1px whitesmoke;">
      <div class="homeGrid">
        <h3 class="title">ETL Data Processing</h3>
        <app-etl-data-processing></app-etl-data-processing>
      </div>
    </div>
    
    <div class="col-lg-4" style="border-right: solid 1px whitesmoke;">
      <div class="homeGrid">
        <h3 class="title">Data Analysis / Reporting / AI</h3>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="homeGrid">
        <h3 class="title">Utilities</h3>
      </div>
    </div>
</div>

