<div class="modal fade" id="deactivateAccountModal" tabindex="-1" aria-labelledby="deactivateAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivateAccountModalLabel">Deactivate Account</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <p>
                        Are you sure you want to deactivate your account?
                    </p>
                  <input
                    type="password"
                    id="emailPhone"
                    class="form-control"
                    [(ngModel)]="password"
                    name="emailOrPhone"
                    placeholder="Confirm your password to proceed"
                    
                    required
                  />
                </div>
                <div class="d-flex justify-content-end">
                  <div>
                    <button type="submit" class="btn btn-danger">Deactivate</button>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  