<div class="signup-container mt-2">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h4>generic client Sign Up</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="firstName" style="text-align: left; width: 100%;">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                [(ngModel)]="firstName"
                name="firstName"
                placeholder="eg. John"
                (keyup)="validateInput('firstName')"
                required
              />
              <small class="text-danger" *ngIf="firstNameError">{{ firstNameError }}</small>
            </div>
            <div class="form-group mb-3">
              <label for="lastName" style="text-align: left; width: 100%;">Last Name</label>
              <input
                type="text"
                id="lastName"
                class="form-control"
                [(ngModel)]="lastName"
                name="lastName"
                placeholder="eg. Doe"
                (keyup)="validateInput('lastName')"
                required
              />
              <small class="text-danger" *ngIf="lastNameError">{{ lastNameError }}</small>
            </div>
            <div class="form-group mb-3">
              <label for="email" style="text-align: left; width: 100%;">Email</label>
              <input
                type="text"
                id="email"
                class="form-control"
                [(ngModel)]="email"
                name="email"
                placeholder="eg. test@email.com"
                (keyup)="validateInput('email')"
                required
              />
              <small class="text-danger" *ngIf="emailError">{{ emailError }}</small>
            </div>
            <div class="form-group mb-3">
              <label for="phone" style="text-align: left; width: 100%;">Phone Number</label>
              <input
                type="text"
                id="phone"
                class="form-control"
                [(ngModel)]="phone"
                name="phone"
                placeholder="eg. +911234567890"
                (keyup)="validateInput('phone')"
                required
              />
              <small class="text-danger" *ngIf="phoneError">{{ phoneError }}</small>
            </div>
            <div class="form-group mb-3">
              <label for="password" style="text-align: left; width: 100%;">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                [(ngModel)]="password"
                name="password"
                placeholder="Enter password"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="reenterPassword" style="text-align: left; width: 100%;">Re-enter Password</label>
              <input
                type="password"
                id="reenterPassword"
                class="form-control"
                [(ngModel)]="reenterPassword"
                name="reenterPassword"
                placeholder="Re-enter password"
                required
              />
            </div>
            <div class="d-flex justify-content-end">
              <div>
                <button type="submit" class="btn btn-dark">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
